# Basic Pandas
Hint: some method needed to solve these exercises have not been introduced so far. Follow the hints and use the ***pandas*** documentation.

In [2]:
#check if notebook runs in colab
import sys
IN_COLAB = 'google.colab' in sys.modules
print('running in Colab:',IN_COLAB)
path='..'
if IN_COLAB:
  #in colab, we need to clone the data from the repo
  !git clone https://github.com/keuperj/DataScienceSS20.git
  path='DataScienceSS20'

running in Colab: False


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2.
Use ***Jupyter lab*** to browse the data file in ``path+"/DATA/u.user.csv"``. What does this data set represent?

### Step 3. Read the CSV data into a pandas DataFrame. Assign it to a variable called users and use the 'user_id' as index

In [4]:
pd.read_csv(path+'/DATA/u.user.csv')

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Print the first 25 entries

### Step 5. Print the last 10 entries

### Step 6. What is the number of observations in the dataset?

### Step 7. What is the number of columns in the dataset?

### Step 8. Print the name of all the columns.

### Step 9. How is the dataset indexed?

### Step 10. What is the data type of each column?
Hint: this works like in NumPy

### Step 11. Print only the occupation column

### Step 12. How many different occupations there are in this dataset? 
Hint: try the ``nunique()`` function.

### Step 13. What is the most frequent occupation?
Hint: ``value_counts()``

### Step 14. Summarize the DataFrame.

### Step 15. Summarize all the columns

### Step 16. Summarize only the occupation column

### Step 17. What is the mean age of users?

### Step 18. What is the age with least occurrence?